@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@using SachDienTu.Models
@model IEnumerable<SachDienTu.Models.Image>
@{IPagedList pagedInfo = (IPagedList)ViewBag.Images; }

@*<div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_length" id="dataTable_length">
                <label>
                    Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter">
                <label>
                    Search:
                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                </label>
            </div>
        </div>
    </div>*@
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending">@Html.DisplayNameFor(model => model.name)</th>
                    <th>Hình</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending">@Html.DisplayNameFor(model => model.description)</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending">@Html.DisplayNameFor(model => model.source)</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.name)</th>
                    <th rowspan="1" colspan="1">Hình</th>
                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.description)</th>
                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.source)</th>
                    <th rowspan="1" colspan="1">Công cụ</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (Image image in ViewBag.Images)
                {
                    <tr role="row">
                        <td>@image.name</td>
                        <td><img src="~/Photos/@image.source" alt="" style="width:100px;height:100px"/></td>
                        <td>@image.description</td>
                        <td>@image.source</td>
                        <td>
                            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = image.ID }) |
                            @Html.ActionLink("Xem chi tiết", "Detail", new { id = image.ID }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = image.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Hiển thị @pagedInfo.PageSize trên tổng số @pagedInfo.TotalItemCount tác giả</div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">
                @Html.PagedListPager((IPagedList)ViewBag.Images, p => Url.Action("Index", "ImageManagement", new { page = p }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-itemm" },
                            PageClasses = new string[] { "page-link" }
                        },
                        ajaxOptions: new AjaxOptions
                        {
                            UpdateTargetId = "dataTable",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        }
                    )
                )
            </ul>
        </div>
    </div>
</div>

