@model SachDienTu.Models.RoleModels

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.SiteName</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <p>@ViewBag.Status</p>
                <hr/>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.roleName, htmlAttributes: new{ @class = "control-label"})
                    <div>
                        @Html.EditorFor(model => model.roleName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.roleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Tạo mới" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-footer">
        @Html.ActionLink("Quay về danh sách", "Roles", "null", htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>